body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

/* navigation bar design start */
.navigation-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 9vh;
    padding: 10px 20px; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navigation-container img {
margin-left: 6px;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none; 
    margin-right: 6px;
}

.nav-list a{
    text-decoration: none;
    color: #F47287;
}
/* navigation bar design end */


/* Search bar design start */
.search-bar-container {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 30vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin:0;
}

.search-input {
    height: 5vh;
    width: 40vw;
    border-radius: 5px;
}

.search-button{
    background-color: #F47287;
    color: white;
    border:none;
    border-radius: 5px;
    height: 5vh;
    width: 4vw;
}

.search-button:hover {
    cursor: pointer;
}
/* Search bar design start */

/* Explore section design start */
.explore-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    margin:0;
    align-items: center;
    padding: 10px 20px;
    height: 60vh;
}
.card-container {
    /* border: 10px solid red; */
    width:110vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 40vh;
    width: 15vw;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content:center;
    align-items: end;
}
/* Explore section design end */


/* Food Menu design start */
.food-menue-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.menue-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 25vw;
    height: 17vh;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 15px;
}

.menu-item img {
    width: 7vw;
    border-radius: 15px;
}
.menu-item button {
    background-color: #F47287;
    color: white;
    border:none;
    border-radius: 5px;
    width: 4vw;
    font-size: x-small;
    margin-left: 20px;
}

.menu-item button:hover {
    cursor: pointer;
}

.item-descreption p {
    margin: 0;
    padding: 5px 20px;
}
/* Food Menu design end */


/* footer design start */
.footer-container {
    /* border:1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
}

.social-media-logos {
    display: flex;
    flex-direction: row;
}

.social-media-logos img {
    height: 30px;
    width: 40px;
    border-radius: 10px;
}
/* footer design end */