body {
    margin: 0;
    padding: 0;
    background-color: rgb(177, 177, 177);
}

/* navigation bar design start */
.navigation-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 9vh;
    padding: 10px 20px; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navigation-container img {
margin-left: 6px;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none; 
    margin-right: 6px;
}

.nav-list a{
    text-decoration: none;
    color: #F47287;
}
/* navigation bar design end */


/* Search bar design start */
.search-bar-container {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 30vh; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-input {
    height: 5vh;
    width: 40vw;
    border-radius: 5px;
}

.search-button{
    background-color: #F47287;
    color: white;
    border:none;
    border-radius: 5px;
    height: 5vh;
    width: 4vw;
}

.search-button:hover {
    cursor: pointer;
}
